* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 536px;
  }
}
@media (max-width: 536px) {
  .container {
    max-width: 300px;
  }
}
.regisration-bg {
  background: rgba(16, 21, 47, 1);
}
.regisration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.regisration__timer {
  display: flex;
  max-width: 550px;
  width: 100%;
  margin: 30px auto 0;
  justify-content: space-between;
}
.regisration__title {
  font-size: 38px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}
.timer__digit {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.timer__subdescription {
  color: #fff;
  padding-bottom: 7px;
  font-size: 12px;
}
.timer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regisration__info {
  color: #fff;
  text-align: center;
  margin: 50px 0 30px 0;
}
.registration__form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.registration-form__input {
  height: 56px;
  text-indent: 15px;
  max-width: 280px;
  width: 100%;
}
.registration-form__btn {
  color: #000000;
  background-color: #fee771;
  height: 56px;
  padding: 0 40px;
  outline: none;
  border: 0 none;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 30px;
}
