@import url(./variables.css);
@import url(./general/button.css);
@import url(./blocks/header.css);
@import url(./blocks/footer.css);
@import url(./blocks/course-selection.css);
@import url(./blocks/hat.css);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;

  cursor: pointer;

  transition: 200ms;
}

a:hover {
  color: #ccc;
}
