@import url(./variables.css);
@import url(./general/button.css);
@import url(./blocks/header.css);
@import url(./blocks/footer.css);
@import url(./blocks/course-selection.css);
@import url(./blocks/hat.css);
@import url(./blocks/address.css);
@import url(./blocks/registration.css);
@import url(./blocks/expectations.css);
@import url(./blocks/invest.css);
@import url(./blocks/consult.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;

  cursor: pointer;

  transition: 200ms;
}

a:hover {
  color: #ccc;
}

@keyframes button-gradient {
  0% {
      background-position: 100% 50%;
  }
  50% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}